@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background: #d9d9d6; /* Off White Bem Concreto */
  margin: 0;
  padding: 0;
  color: #101820; /* Preto petróleo */
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR ----------------------- */

.sidebar {
  width: 270px;
  background: #101820; /* Azul Petróleo */
  color: white;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sidebar h2 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}

.sidebar button {
  background: none;
  border: none;
  text-align: left;
  color: #d9d9d6;
  padding: 12px 5px;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.75;
  transition: 0.2s;
}

.sidebar button:hover {
  opacity: 1;
  color: #fff;
}

/* CONTENT ------------------------- */

.content {
  flex: 1;
  padding: 45px;
  overflow-y: auto;
}

/* CARDS --------------------------- */

.card {
  background: white;
  border-radius: 14px;
  padding: 28px;
  margin-bottom: 30px;
  border: 1px solid #cfcfcf;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.07);
}

/* MÓDULOS -------------------------- */

.module-item {
  background: white;
  border-radius: 12px;
  padding: 18px;
  margin-bottom: 14px;
  border-left: 6px solid #c7c7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

/* APROVADO */
.module-item.approved {
  border-left-color: #27AE60;
}

/* REPROVADO */
.module-item.failed {
  border-left-color: #E74C3C;
}

/* ATUAL */
.module-item.current {
  border-left-color: #7a5d53; /* Marrom oficial */
}

.module-title {
  font-size: 16px;
  font-weight: 600;
  color: #101820;
}

/* BOTÃO CONTINUAR ----------------- */

.module-item button {
  padding: 10px 18px;
  border-radius: 10px;
  background: #101820;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Manrope';
}

.module-item button:disabled {
  background: #b7b7b7;
  cursor: not-allowed;
}

.module-item button:hover:not(:disabled) {
  background: #624b43; /* Marrom escuro */
}